h1 {
    color: var(--color-primary);
}

.title {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.title h1 {
    font-family: 'Arvo', sans-serif;
}

.summary {
    padding: 0 96px;
}

.summary-item {
    width: 50%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
}

.summary-item .item-description {
    display: flex;
    gap: 32px;
    align-items: center;
}

.summary-item .item-description .img {
    border: 1px solid black;
    border-radius: 6px;
    width: 60px;
    height: 60px;
}

.summary-item .item-description .img img {
    vertical-align: middle;
}

.summary-item .item-description .item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-item .item-description .item-name .units {
    color: #a3bac3;
    font-size: 10px;
}

.location-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.delivery-time {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid black;
    border-radius: 6px;
    background: white;
    width: 320px;
    height: 380px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover,
.card:active,
.card.selected {
    background: var(--color-primary);
    color: var(--color-light);
}

.card p {
    font-family: 'Arvo', sans-serif;
}

.card .schedule-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.payment-container {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.payment-container .payment {
    width: 75%;
    background: white;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.payment-container .payment .payment-method span p {
    font-family: 'Arvo', sans-serif;
}

.payment-container .payment .payment-method .methods-cards-container {
    display: flex;
    gap: 36px;
}

.payment-container .payment .payment-method .methods-cards-container .method-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    color: black;
    padding: 12px;
    min-width: 100px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.payment-container .payment .payment-method .methods-cards-container .method-card p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.payment-container .payment .payment-method .methods-cards-container .method-card:hover,
.payment-container .payment .payment-method .methods-cards-container .method-card:active,
.payment-container .payment .payment-method .methods-cards-container .method-card.selected {
    background: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;
}

.payment-container .payment-amount .separator {
    border: 1px dashed var(--color-light);
}

.payment-container .payment-amount {
    width: 25%;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--color-primary);
    color: var(--color-light);
}

.payment-container .payment-amount span p {
    font-family: 'Arvo', sans-serif;
}

.payment-container .payment-amount .amount-info span {
    padding: 3px;
}

.payment-container .payment-amount .amount-info span p {
    font-size: 24px;
    font-weight: bold;
}
